@model newsApp.net.Models.Comment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment2.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment2.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.News.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.News.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
